:root{
    --colorLogo:#006241;
}

@font-face {
    font-family: 'Angeloy Bartesu';
    src: url('/src/assets/fonts/Angeloy-Bartesu-DEMO-VERSION-BF67d7bbfb3077b.otf') format('opentype'),
         url('/src/assets/fonts/Angeloy-Bartesu-DEMO-VERSION-BF67d7bbfb3077b.woff2') format('woff2'),
         url('/src/assets/fonts/Angeloy-Bartesu-DEMO-VERSION-BF67d7bbfb3077b.woff') format('woff'),
         url('/src/assets/fonts/Angeloy-Bartesu-DEMO-VERSION-BF67d7bbfb3077b.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  

*{
    /* box-sizing: border-box; */
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    all: unset;
    cursor: pointer;
}

img{
    width: 100%;
    display: block;
}

.container__icon{
    display: flex;
    /* align-items: center; */
    gap: .5rem;
}

.icon{
    color: var(--colorLogo);
    height: inherit;
}

.icon--alternative-color{
    color: #fff;
}

.btn{
    all: unset;
    cursor: pointer;
    /* background-color: red; */
    padding: .5rem 1rem;
    border-radius: 2rem;
    font-size: .9rem;
    font-weight: 500;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
}

.btn:hover{
    transform: scale(1.1);
}

.btn--bg-wh{
    background-color: #fefdfd;
}

.btn--bg-gr{
    background-color: #04a169;
    color: #fff;
}

.btn--with-100{
    width: 100%;
}

.text-emphasis{
    font-size: 2.5rem;
}

/* HEADER */
.header{
    position: relative;
    z-index: 4;
    height: 4.5rem;
    
}

.header::before{
    content: '';
    position: fixed;
    top:0;
    width: 100%;
    height: 4.5rem;
    background-color: #043825;

}

.header__container{
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    /* background-color: red; */
    
}

@media(min-width:992px){
    .header__container{
        display: flex;
        align-items: center;
        width: 90%;
        gap: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

}

.logo__container{
    display: flex;
    justify-content: center;
    height: 3.5rem;
    padding: .5rem 0;
    margin: 0 auto;
    
}

@media(min-width:992px){
    .logo__container{
        display: unset;
    }

}

.logo__link{
    display: inline-block;
    height: inherit;
    background-color: #fff;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.logo__link:hover{
    transform: scale(1.2);
}

.nav__container{
    position: relative;
    width: 100%;
}

.nav {
    box-shadow: .0 1rem 1rem #005237;
    height: 100vh;
    width: 14rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    position: fixed;
    left: -15rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 3;
}

@media(min-width:992px){
    .nav{
        box-shadow: none;
        position: sticky;
        top: 0;
        height: unset;
        width: 100%;
        padding: unset;
        opacity: 1;
        display: flex;
        justify-content: space-between;
    }
}

.nav::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0; 
    background-size: cover;
    background-image: url(https://i.pinimg.com/736x/82/f3/89/82f389fce93d22c083c9b9c7fd028aed.jpg);
    z-index: 1;
}

@media(min-width:992px){
    .nav::before {
        display: none;
    }
}

.nav::after {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,32,33,.90);
    z-index: 2;
}

@media(min-width:992px){
    .nav::after {
        display: none;
    }
}

.nav--active {
    left: 0;
    opacity: 1;
}

.items{
    position: relative;
    z-index: 3;
}

@media(min-width:992px){
    .items {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.item{
    margin-bottom: 1rem;
}

@media(min-width:992px){
    .item{
        margin-bottom: 0;
    }
}

@media(min-width:992px){
    .item--division{
        display: none;
    }
}

.item__link{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    width: fit-content;
}

@media(min-width:992px){
    .item__link{
        font-size: 1.2rem;
    }
}

@media(min-width:992px){
    .icon__header{
        display: none;
    }
}

.item__under-Line{
    display: inline-block;
    background-color: #fff;
    height: .1rem;
    width: 0%;
    transition: all .4s ease-in-out;
}

.item__link:hover .item__under-Line{
    width: 100%;
}

.item--list-buttons{
    display: flex;
    /* background-color: purple; */
    gap: 1rem;
    margin-top: 1.5rem;
}

@media(min-width:992px){
    .item--list-buttons{
        margin-top: 0;
    }
}

.item__line-division{
    display: block;
    width: 100%;
    height: .1rem;
    background-color: #225757;
    opacity: .5;
    margin-bottom: 1.5rem;
}

.burger {
  position: fixed;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}

@media(min-width:992px){
    .burger {
        display: none;
    }
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/* HERO */

.hero{
    position: relative;
    top: 0;
    background:radial-gradient( #035c3d 0%, #001213 100%);
    z-index: 1;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,32,33,.70);
    z-index: 3;
}

.hero__background-images{
    position: relative;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    background-color: red;
    height: 100%;
    /* width: 100%; */
    z-index: 2;
}

.hero__background-container-image{
    position: absolute;
    height: 10rem;
    width: 10rem;
    transition: .3s ease-in-out;
}

@media(min-width:992px){
    .hero__background-container-image{
        height: 15rem;
        width: 15rem;
    }
}

.hero__background-container-image:nth-child(1){
    top:15rem;
}

.hero__background-container-image:nth-child(2){
    top:2.5rem;
    right: 0;
}

@media(min-width:992px){
    .hero__background-container-image:nth-child(2){
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.hero__background-image{
    height: inherit;
    width: auto;
    object-fit: cover;
    filter: blur(.2rem);
    opacity: 0.4;
}



.hero__container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

@media(min-width:768px){
    .hero__container{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
}

.hero__content{
    padding-top: 2.5rem;
    /* background-color: red; */
    /* width: 35rem; */
}

@media(min-width:768px){
    .hero__content{
        width: 35rem;
    }
}

@media(min-width:992px){
    .hero__content{
        width: 52rem;
    }
}

.hero__title{
    font-size: 4.5rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

@media(min-width:992px){
    .hero__title{
        font-size: 6.5rem;
        line-height: 1;
    }
}

.brand-name-small{
    color: #22946d;
    font-size: 1.8rem;
    font-weight: 800;
    display: block;
    margin-bottom: 1rem;
}

.hero__title-highlight-text{
    font-weight: 900;
}

.hero__container-buttons{
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
}

.hero__products{
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 1rem;
    margin-top: 6rem;
    transition: all .3s ease-in-out;
}

@media(min-width:390px){
    .hero__products{
        justify-content: unset;
    }
}

.hero__product{
    position: relative;
    /* background-color: #fff; */
    width: 8rem;
    /* height: 11rem; */
    border-radius: 1rem;
    padding: 1rem;
}

.hero__product::before, .hero__product::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero__product::before{ 
    background-image: url(/public/background-product-hero.jpg);
    background-repeat: no-repeat;
    background-size: 10rem;
    border-radius: 1rem;
    z-index: 1;
}

.hero__product::after {
    background-color: rgba(0,32,33,.90); 
    transition: .3s ease-in-out;
    border-radius: .9rem;
    z-index: 2;
}

.hero__product:hover::after {
    background-color: rgba(0,32,33,.70); 
    border-radius: 1rem;
}

.hero__product-container-img{
    /* background-color: red; */
    /* position: relative; */
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero__product-img{
    width: 6rem;
    height: 9rem;
    object-fit: cover; 
    /* object-position:center; */
    position: absolute;
    top:-4rem;
    transition: .3s ease-in-out;
    z-index: 3;
}

.hero__product:hover .hero__product-img{
    transform: scale(1.2);
}

.hero__product-description{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.hero__product-text{
    font-size: 1.2rem;
    margin: 0 0 1rem;
    text-align: center;
    font-weight: 500;
    color: #fff;
}

/* HERO  HIGHLIGHT PRODUCT*/
.hero__highlight{
    position: relative;
}

@media(min-width:768px){
    .hero__highlight{
        /* position: absolute; */
        /* background-color: red; */
        top: 0;
        right: 0;
        width: 22rem;
        display: flex;
        justify-content: end;
    }
}

.hero__highlight-img-container{
    height: 15rem;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    position: relative;
    /* background-color: purple; */
    z-index: 1;
    transition: all .3s ease-in-out;
}

@media(min-width:768px){
    .hero__highlight-img-container{
        position: absolute;
        height: 28rem;
        left: -12rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media(min-width:992px){
    .hero__highlight-img-container{
        left: -14rem;
        height: 27rem;
    }
}

.hero__highlight-img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    filter: drop-shadow( 1rem 0rem 2rem #000);
}

.hero__highlight-info{
    background-color: #00a267;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem;
    position: relative;
    top: -3.5rem;
    transition: all .3s ease-in-out;
    /* z-index: 9999; */
}

.hero__highlight-info::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 101% ;
    width: 100%;
    background-color: rgba(0,32,33,.80);
    z-index: -1;
}

.hero__highlight-info::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height:100% ;
    width: 100%;
    transform: rotate(180deg);
    background-image: url(https://i.pinimg.com/736x/82/f3/89/82f389fce93d22c083c9b9c7fd028aed.jpg);
    border-top-left-radius: 2rem;
    
    background-size: cover;
    z-index: -2;
    
}



@media(min-width:768px){
    .hero__highlight-info{
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        top:0;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-top-left-radius:unset;
        width: 80%;
    }
}

@media(min-width:992px){
    .hero__highlight-info{
        width: 100%;
    }
}

.hero__highlight-title{
    font-size: 10.5vw;
    font-weight: 900;
    margin: 0;
}

@media(min-width:768px){
    .hero__highlight-title{
        font-size: 7vw;
    }
}

.hero__highlight-title--color-white{
    color: #fff;
}

.hero__highlight-title--border-white{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    -webkit-text-stroke: .1rem #fff;
    color: transparent;
}

/* END HERO */

/* START SECTION */

.section{
    position: relative;
    /* filter: blur(.1rem); */
    z-index: 1;
    padding: 5rem 0;
    /* background :url(https://i.pinimg.com/736x/ad/e2/10/ade2101db53fe66867b28f8c7e1d176d.jpg) no-repeat; */
    /* background-size: cover; */
    overflow: hidden;
}

.section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(.1rem); */
    /* opacity: .5; */
    z-index: 2;
}
.section::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(231,221,212,.5);
    z-index: 3;
}

.section__background-images{
    position: absolute;
    z-index: 4;
    top: 0;
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

.section__logo{
    position: absolute;
    right: -80rem;
    height: 100%;
    /* opacity: 0.6; */
    background-color: #fdfdfd;
    border-radius: 50%;
    filter: opacity(85%);
}

@media(min-width:768px){
    .section__logo{
        right: -22.5rem;        
    }
}

.section__container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.section__container::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background :url(https://i.pinimg.com/736x/ad/e2/10/ade2101db53fe66867b28f8c7e1d176d.jpg) no-repeat;
    background-size: cover; */
}

.section__header{
    /* background-color: red; */
    /* width: 30rem; */
}

@media(min-width:768px){
    .section__header{
        width: 30rem;
    }
}

.section__title{
    font-family: 'Angeloy Bartesu', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    color: #94724f;
    /* text-align: center; */
    font-weight: 900;
    /* text-transform: uppercase; */
    line-height: 1.3;
}

.section__title-highlight{
    font-weight: 900;
    color: #624728;
}

.section__caption{
    /* text-align: center; */
    
    color: #624728;
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    font-weight: 900;
    margin: 0 0 0 0;
}

.cards{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 7rem;
    margin-top: 8rem;
    position: relative;
    justify-content: center;
    z-index: 5;
    /* background-color: red; */
}

@media(min-width:581px){
    .cards{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);

        column-gap: 2rem;

    }
}

@media(min-width:768px){
    .cards{
        display: flex;
        gap: 2rem;
    /* margin-top: 10rem; */

        /* justify-content: center; */
    }
}

.card{
    position: relative;
    background: url(https://i.pinimg.com/736x/50/c4/0b/50c40bd5fb025c70246f314a0458ade7.jpg);
    border-radius: 1rem;
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    box-shadow: 0 0 1.5rem rgb(98,71,40);
}

@media(min-width:581px){
    .card{
        width: unset;
    }
}

.card::before{
    border-radius: 1rem;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0,32,33,.70); */
    /* background-color: rgba(76,22,23,.85); */
    background-color: rgba(226, 226, 226, 0.90);
}

.card:nth-child(2){
    grid-row: 1/2;
    /* background: url(https://i.pinimg.com/736x/50/c4/0b/50c40bd5fb025c70246f314a0458ade7.jpg); */
}

.card:nth-child(2)::before{
    border-radius: 1rem;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0,32,33,.70); */
    background-color: rgba(76,22,23,.85);
    /* background-color: rgba(226, 226, 226, 0.90); */
}


@media(min-width:768px){
    .card{
        width: 12.5rem;
        height: 17.5rem;
    }

    .card:nth-child(2){
        transform: translateY(-3rem);
    }

}

@media(min-width:827px){
    .card{
        height: 15.5rem;
    }
}

.card__container_image{
    /* height: 12rem; */
    display: flex;
    justify-content: center;
    position: relative;
    top: -5rem;
    /* background-color: red; */
    overflow: visible;
}

.matcha::before{
    content: '';
    position: absolute;
    top: -2rem;
    left: -20%;
    height: 140%;
    width: 140%;
    background: url(/Iced-Lavanda-Matcha-bg.webp);
    background-repeat: no-repeat;
    background-size: 17rem, 80%, 80%;
    background-position: center, center;
    
}

.velvet::before{
    content: '';
    position: absolute;
    top: -2rem;
    left: -20%;
    height: 140%;
    width: 140%;
    background: url(/Iced-Lavanda-Velvet-Latte-bg.webp);
    background-repeat: no-repeat;
    background-size: 17rem, 80%, 80%;
    background-position: center, center;
    /* background-color: red; */
}

.cream-frappucciono::before{
    content: '';
    position: absolute;
    top: -3.2rem;
    left: -20%;
    height: 140%;
    width: 140%;
    background: url(/LavandaCream-Frappucciono-bg.png);
    background-repeat: no-repeat;
    background-size: 15.5rem, 80%, 80%;
    background-position: center, center;
    /* background-color: red; */
}

.card__image{
    width: auto;
    height: 12rem;
    object-fit: cover;
    /* transform: translateY(-5rem);  */
    /* position: absolute; */
    filter: drop-shadow(0rem 0rem .5rem #000);
}

.card__body{
    position: relative;
    top: -3.5rem;
}

.card__title{
    font-size: 1.7rem;
    font-weight: 900;
    color: #313131;
    margin: 0;
    text-align: center;
}

.card__title--color-wh{
    color: #fff;
}

.card__description--color-wh{
    color: #fff;
}

.card__description{
    text-align: center;
    font-size: 1rem;
    margin-top: .5rem;
    font-weight: 500;
    color: #313131;
}

.card__description--color-wh{
    color: #fff;
}
/* END SECTION */

/* START CARAMEL */

.caramel{
    position: relative;
    /* background-color: red; */
    overflow: hidden;
}

.caramel::before, .caramel::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.caramel::before{
    background: url(/background-mochiato.jpg)no-repeat;
    background-size: cover;
    z-index: 1;
}

.caramel::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(transparent,rgb(22, 17, 13)) ;
    z-index: 2;
}

.container__background-image{
    position: absolute;
    height: 15rem;
    bottom: -1rem;
    z-index: 1;
}

@media(min-width:768px){
    .container__background-image{
    height: 20rem;
    }
}

.container__background-image:nth-child(1){
    top: 0;
    right: 0;
    opacity: .7;
    filter: blur(.06rem);

}

.caramel__background-image{
    height: inherit;
    width: auto;
    object-fit: cover;
}

@media(min-width:768px){
    .container__background-image{
        
    }
}

.caramel__container{
    padding: 2.5rem 0 5rem 0 ;
    position: relative;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    z-index: 3;
}

@media(min-width:768px){
    .caramel__container{
        /* display: grid; */
        /* grid-template-columns: repeat(2,1fr); */
        align-items: center;
    }
}

.caramel__container-image{
    /* background-color: purple; */
    height: 30rem;
    display: flex;
    justify-content: center;
    position: relative;
    transform: rotate(10deg);
}

@media(min-width:768px){
    .caramel__container-image{
        height: 35rem;
        top: -2.5rem;
    }
}

.caramel__image{
    height: inherit;
    width: auto;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}

.caramel__info{
    /* transform: translateY(-3rem); */
}

@media(min-width:768px){
    .caramel__info{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        background:radial-gradient(rgba(56,26,14,.8), transparent);
        padding: 1rem;
        border-radius: 1rem;
    }
}

.caramel__title, .caramel__text{
    text-align: center;
    margin: 0;
    /* color: rgb(255, 158, 79); */
    color: #f7f7f7;
}

.caramel__title{
    /* font-family: 'Angeloy Bartesu', Arial, Helvetica, sans-serif; */
    font-size: 4.5rem;
    line-height: .9;
}

@media(min-width:768px){
    .caramel__title{
        font-size: 7rem;
    }
}

.caramel__text{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;    
}