:root{
    --colorLogo:#006241;
}

@font-face {
    font-family: 'Agbalumo';
    src: url('/assets/fonts/Agbalumo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Angeloy Bartesu';
    src: url('/assets/fonts/Angeloy-Bartesu-DEMO-VERSION-BF67d7bbfb3077b.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    background-color: #f4f2f0;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    all: unset;
    cursor: pointer;
}

img{
    width: 100%;
    display: block;
}

.container__icon{
    display: flex;
    /* align-items: center; */
    gap: .5rem;
}

.icon{
    color: var(--colorLogo);
    height: inherit;
}

.icon--alternative-color{
    color: #fff;
}

.btn{
    all: unset;
    cursor: pointer;
    /* background-color: red; */
    padding: .5rem 1rem;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 500;
    transition: .3s ease-in-out;
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    width: fit-content;
}

.btn:hover{
    transform: scale(1.1);
}

.btn--bg-wh{
    background-color: #fefdfd;
}

.btn--bg-gr{
    background-color: #04a169;
    color: #fff;
}

.btn--with-100{
    width: 100%;
}

.btn--medium{
    font-size: 1.3rem;
}

@media(min-width:768px){
    .btn--medium{
        font-size: 1.1rem;
    }
}

.text-emphasis{
    font-size: 2.5rem;
}

/* HEADER */
.header{
    position: relative;
    z-index: 4;
    height: 4.5rem;
    
}

.header::before{
    content: '';
    position: fixed;
    top:0;
    width: 100%;
    height: 4.5rem;
    background-color: #043825;

}

.header__container{
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    /* background-color: red; */
    
}

@media(min-width:992px){
    .header__container{
        display: flex;
        align-items: center;
        width: 90%;
        gap: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

}

.logo__container{
    display: flex;
    justify-content: center;
    height: 3.5rem;
    padding: .5rem 0;
    margin: 0 auto;
    
}

@media(min-width:992px){
    .logo__container{
        display: unset;
    }
}

.logo__link{
    display: inline-block;
    height: inherit;
    background-color: #fff;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.logo__link:hover{
    transform: scale(1.1);
}

.nav__container{
    position: relative;
    width: 100%;
}

.nav {
    box-shadow: .0 1rem 1rem #005237;
    height: 100vh;
    width: 14rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    position: fixed;
    left: -15rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 3;
}

@media(min-width:992px){
    .nav{
        box-shadow: none;
        position: sticky;
        top: 0;
        height: unset;
        width: 100%;
        padding: unset;
        opacity: 1;
        display: flex;
        justify-content: space-between;
    }
}

.nav::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0; 
    background-size: cover;
    background-image: url(/store-starbucks.webp);
    z-index: 1;
}

@media(min-width:992px){
    .nav::before {
        display: none;
    }
}

.nav::after {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,32,33,.90);
    z-index: 2;
}

@media(min-width:992px){
    .nav::after {
        display: none;
    }
}

.nav--active {
    left: 0;
    opacity: 1;
}

.items{
    position: relative;
    z-index: 3;
}

@media(min-width:992px){
    .items {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.item{
    margin-bottom: 1rem;
}

@media(min-width:992px){
    .item{
        margin-bottom: 0;
    }
}

@media(min-width:992px){
    .item--division{
        display: none;
    }
}

.item__link{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    width: fit-content;
}

@media(min-width:992px){
    .item__link{
        font-size: 1.2rem;
    }
}

@media(min-width:992px){
    .icon__header{
        display: none;
    }
}

.item__under-Line{
    display: inline-block;
    background-color: #fff;
    height: .1rem;
    width: 0%;
    transition: all .4s ease-in-out;
}

.item__link:hover .item__under-Line{
    width: 100%;
}

.item--list-buttons{
    display: flex;
    /* background-color: purple; */
    gap: 1rem;
    margin-top: 1.5rem;
}

@media(min-width:992px){
    .item--list-buttons{
        margin-top: 0;
    }
}

.item__line-division{
    display: block;
    width: 100%;
    height: .1rem;
    background-color: #225757;
    opacity: .5;
    margin-bottom: 1.5rem;
}

.burger {
  position: fixed;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  bottom: 5rem;
  right: 4rem;
  z-index: 1;
}

.burger::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 4rem;
    height: 4rem;
    background-color: #043825;
    border-radius: 5rem;
}

@media(min-width:992px){
    .burger {
        display: none;
    }
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #04a169;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

/* HERO */

.hero{
    position: relative;
    top: 0;
    background:radial-gradient( #035c3d 0%, #001213 100%);
    z-index: 1;
    overflow: hidden;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,32,33,.70);
    z-index: 3;
}

.hero__background-images{
    position: relative;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    background-color: red;
    height: 100%;
    /* width: 100%; */
    z-index: 2;
}

.hero__background-container-image{
    position: absolute;
    height: 10rem;
    width: 10rem;
    transition: .3s ease-in-out;
}

@media(min-width:992px){
    .hero__background-container-image{
        height: 15rem;
        width: 15rem;
    }
}

.hero__background-container-image:nth-child(1){
    top:15rem;
}

.hero__background-container-image:nth-child(2){
    top:2.5rem;
    right: 0;
}

@media(min-width:992px){
    .hero__background-container-image:nth-child(2){
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.hero__background-image{
    height: inherit;
    width: auto;
    object-fit: cover;
    filter: blur(.2rem);
    opacity: 0.4;
}



.hero__container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

@media(min-width:768px){
    .hero__container{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
}

.hero__content{
    padding-top: 2.5rem;
    /* background-color: red; */
    /* width: 35rem; */
}

@media(min-width:768px){
    .hero__content{
        width: 35rem;
    }
}

@media(min-width:992px){
    .hero__content{
        width: 52rem;
    }
}

.hero__title {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 4.5rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
    min-height: 6.5rem;
  }
  

@media(min-width:992px){
    .hero__title{
        font-size: 6.5rem;
        line-height: 1;
    }
}

.brand-name-small{
    color: #22946d;
    font-size: 1.8rem;
    font-weight: 800;
    display: block;
    margin-bottom: 1rem;
}

.hero__title-highlight-text{
    font-weight: 900;
}

.hero__container-buttons{
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
}

.hero__products{
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 1rem;
    margin-top: 6rem;
    transition: all .3s ease-in-out;
}

@media(min-width:390px){
    .hero__products{
        justify-content: unset;
    }
}

.hero__product{
    position: relative;
    /* background-color: #fff; */
    width: 8rem;
    /* height: 11rem; */
    border-radius: 1rem;
    padding: 1rem;
}

.hero__product::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* .hero__product::before{ 
    background-image: url(https://res.cloudinary.com/dj5mpbo6m/image/upload/f_auto,q_auto/v1/starbucks/kjhnwfbbbcfgny4vpwvf);
    background-repeat: no-repeat;
    background-size: 10rem;
    border-radius: 1rem;
    z-index: 1;
} */

.hero__product::after {
    background-color: rgba(0,32,33,.90); 
    transition: .3s ease-in-out;
    border-radius: .9rem;
    z-index: 2;
}

.hero__product:hover::after {
    background-color: rgba(0,32,33,.70); 
    border-radius: 1rem;
}

.hero__product-containerBackgroundImages{
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero__product-BackgroundImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.hero__product-container-img{
    /* background-color: red; */
    /* position: relative; */
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero__product-img{
    width: 6rem;
    height: 9rem;
    object-fit: cover; 
    /* object-position:center; */
    position: absolute;
    top:-4rem;
    transition: .3s ease-in-out;
    z-index: 3;
}

.hero__product:hover .hero__product-img{
    transform: scale(1.2);
}

.hero__product-description{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.hero__product-text{
    font-size: 1.2rem;
    margin: 0 0 1rem;
    text-align: center;
    font-weight: 500;
    color: #fff;
}

/* HERO  HIGHLIGHT PRODUCT*/
.hero__highlight{
    position: relative;
}

@media(min-width:768px){
    .hero__highlight{
        /* position: absolute; */
        /* background-color: red; */
        top: 0;
        right: 0;
        width: 22rem;
        display: flex;
        justify-content: end;
    }
}

.hero__highlight-img-container{
    height: 15rem;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    position: relative;
    /* background-color: purple; */
    z-index: 1;
    /* transition: all .3s ease-in-out; */
}

@media(min-width:768px){
    .hero__highlight-img-container{
        position: absolute;
        height: 28rem;
        left: -12rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media(min-width:992px){
    .hero__highlight-img-container{
        left: -12rem;
        height: 27rem;
    }
}

.hero__highlight-img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    filter: drop-shadow( 1rem 0rem 2rem #000);
}

.hero__highlight-info{
    background-color: #00a267;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem;
    position: relative;
    top: -3.5rem;
    /* transition: all .3s ease-in-out; */
    overflow: hidden;
    /* z-index: 9999; */
}

.hero__highlight-info::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 101% ;
    width: 100%;
    background-color: rgba(0,32,33,.80);
    z-index: -1;
}

.hero__highlight-info::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height:100% ;
    width: 100%;
    transform: rotate(180deg);
    background-image: url(https://res.cloudinary.com/dj5mpbo6m/image/upload/f_auto,q_auto/v1/starbucks/xw1kotpssdzue6zi0bzl);
    border-top-left-radius: 2rem;
    background-size: cover;
    z-index: -2;
    
}



@media(min-width:768px){
    .hero__highlight-info{
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        top:0;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-top-left-radius:unset;
        width: 80%;
    }
}

@media(min-width:992px){
    .hero__highlight-info{
        width: 100%;
    }
}

.hero__highlight-title {
    font-size: clamp(2rem, 10.5vw, 5rem);
    font-weight: 900;
    margin: 0;
  }

.hero__highlight-title--color-white{
    color: #fff;
}

.hero__highlight-title--border-white{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    -webkit-text-stroke: .1rem #fff;
    color: transparent;
}

/* END HERO */

/* START SUMMER REFRESH */
.summer-refresh{
    position: relative;
    /* background-color: #000; */
    overflow: hidden;

}

.summer-refresh__background-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.summer-refresh__container-images{
    position: absolute;
    height: 100%;
    width: 100%;
}

.summer-refresh__container-images::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    /* background:linear-gradient(to bottom, transparent 82% , rgba(0,32,33,.80) 100%) ; */
    background-color: rgba(0,32,33,.60);
}

.summer-refresh__container{
    position: relative;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
    /* background-color: purple; */
}

.summer-refresh__title{
    font-family: 'Angeloy Bartesu', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 3.5rem;
    line-height: 1.3;
}

.summer-refresh__caption{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    margin-top: 1.2rem;
}

.summer-refresh__cards{
    margin-top: 12rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11rem;
    margin-top: 13rem;
}

@media(min-width:768px){
    .summer-refresh__cards{
        flex-direction: row;
        align-items: unset;
        gap: 0;
        justify-content: center;
        position: relative;
        /* margin-top: 13rem; */
    }
}

.summer-refresh__card{
    position: relative;
    height: 10rem;   
    /* width: 12.5rem; */
    z-index: 1;
    /* background-color: rgba(4, 99, 102, 0.6); */
    border-radius: 1rem;
    padding: .5rem;
    /* box-shadow: .3rem .3rem 1rem #000; */
}

@media(min-width:768px){
    .summer-refresh__card{
        background-color: unset;
        box-shadow: unset;
        padding: 0;
    }

    .summer-refresh__card:first-child{
        height: 15rem;
        transform: rotate(-15deg)  translateX(4rem);
        filter: drop-shadow(0 0 1rem rgba(153,215,197,.8));
    }

    .summer-refresh__card:nth-child(2){
        height: 18rem;
        z-index: 2;
    }
    
    .summer-refresh__card:last-child{
        height: 15rem;
        transform: rotate(15deg) translateY(-4rem) translateX(-6rem);
        filter: drop-shadow(0 0 1rem rgba(153,215,197,.8));
    }
}

.summer-refresh__contain-mask{
    position: absolute;
    /* background-color: red; */
    z-index: -1;
}

.summer-refresh__mask{
    position: relative;
}

.summer-refresh__contain-mask-berry{
    /* transform: translateX(-5rem); */
}

.summer-refresh__mask-berry{
    transform: translateY(-7rem) translateX(-3rem) rotate(-90deg);
    height: 10rem;
    width: auto;
    /* z-index: 999; */
}

.summer-refresh__mask-berry-stains{
    height: 12rem;
    width: auto;
    z-index: -1;
}

.summer-refresh__mask-skies{
    top: -5rem;
    left: 5rem;
    height: 15rem;
    width: auto;
}

.summer-refresh__mask-skies-stains{
    top: -14rem;
    left: -7rem;
    height: 20rem;
    width: auto;
    z-index: -1;
}

.summer-refresh__contain-mask-lemonade{
    top: 50%;
    transform: translateX(0rem) translateY(-40%);
    /* background-color: red; */
    width: 12rem;
    height: auto;
}

.summer-refresh__mask-lemonade{
    height: 15rem;
    width: auto;
    left: 5rem;
    top: -5rem;
}

.summer-refresh__mask-stains{
    position: absolute;
    left: -4rem;
    top: 50%;
    height: 15rem;
    width: auto;
    transform: translateY(-9rem);
    z-index: -1;
}

@media(min-width:768px){
    .summer-refresh__contain-mask-berry{
        /* background-color: red; */
        transform: translateX(-5rem);
    }
    
    .summer-refresh__mask-berry{
        transform: translateY(-5rem);
        height: 12rem;
        width: auto;
    }
    
    .summer-refresh__mask-berry-stains{
        transform: translateY(-16rem) translateX(-3rem);
        height: 15rem;
        width: auto;
        z-index: -1;
    }

    /* .summer-refresh__mask-skies{
        height: 20rem;
        width: auto;
        transform: rotate(270deg) translateY(-2rem) translateX(-2rem) ;
    }  */

    .summer-refresh__mask-skies{
        top: 7rem;
        left: 5rem;
        height: 15rem;
    }
    
    .summer-refresh__mask-skies-stains{
        top: 0rem;
        left: -4rem;
        height: 11rem;
    }

    .summer-refresh__contain-mask-lemonade{
        top: unset;
        transform: translateX(3rem) translateY(-2rem);
    }

    .summer-refresh__mask-lemonade{
        height: 14rem;
        width: auto;
    }
    
    .summer-refresh__mask-stains{
        position: absolute;
        transform: translateX(5rem) translateY(-8rem);
        height: 12rem;
        z-index: -1;
    }
}

.summer-refresh__image-product{
    height: 15rem;
    width: auto;
    object-fit: cover;
    filter: drop-shadow(0 0 1rem #000);
    /* transform: translateY(-5rem); */
    position: relative;
    top: -5rem;
}

@media(min-width:768px){
    .summer-refresh__image-product{
        height: inherit;
        /* transform: translateY(0); */
    }
}

.summer-refresh__body{
    position: absolute;
    width: 100%;
    top: -8.5rem;
    /* background-color: red; */
    left: 0;
}

@media(min-width:768px){

    .summer-refresh__body{
        top: unset;
    }
    .summer-refresh__card:first-child
    .summer-refresh__body{
        transform: rotate(15deg) translateX(-10rem) translateY(-6.5rem);
    }
    
    .summer-refresh__card:nth-child(2)
    .summer-refresh__body{
        top: -2rem;
    }
    
    .summer-refresh__card:last-child
    .summer-refresh__body{
        transform: rotate(-15deg) translateX(10rem) translateY(-6rem);
    
    }
}

.summer-refresh__product-title{
    font-family: 'Angeloy Bartesu', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
    /* background-color: orange; */
    text-align: center;
}

@media(min-width:768px){

}
@media(min-width:768px){

}
@media(min-width:768px){

}

/* END SUMMER REFRESH */

/* START SECTION */

.section{
    position: relative;
    z-index: 1;
    padding: 5rem 0;
    overflow: hidden;
}

.section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(https://res.cloudinary.com/dj5mpbo6m/image/upload/f_auto,q_auto/v1/starbucks/rqbkjhu7nknxa56th0en);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(.1rem); */
    /* opacity: .5; */
    z-index: 2;
}
.section::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(231,221,212,.5);
    z-index: 3;
}

.section__background-images{
    position: absolute;
    z-index: 4;
    top: 0;
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

.section__logo{
    position: absolute;
    right: -80rem;
    height: 100%;
    /* opacity: 0.6; */
    background-color: #fdfdfd;
    border-radius: 50%;
    filter: opacity(85%);
}

@media(min-width:768px){
    .section__logo{
        right: -22.5rem;        
    }
}

.section__container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.section__container::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.section__header{
    /* background-color: red; */
    /* width: 30rem; */
}

@media(min-width:768px){
    .section__header{
        width: 30rem;
    }
}

.section__title{
    font-family: 'Angeloy Bartesu', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    color: #94724f;
    /* text-align: center; */
    font-weight: 900;
    /* text-transform: uppercase; */
    line-height: 1.3;
}

.section__title-highlight{
    font-weight: 900;
    color: #624728;
}

.section__caption{
    /* text-align: center; */
    
    color: #624728;
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    font-weight: 900;
    margin: 0 0 0 0;
}

.cards{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 7rem;
    margin-top: 8rem;
    position: relative;
    justify-content: center;
    z-index: 5;
    /* background-color: red; */
}

@media(min-width:581px){
    .cards{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);

        column-gap: 2rem;

    }
}

@media(min-width:768px){
    .cards{
        display: flex;
        gap: 2rem;
    /* margin-top: 10rem; */

        /* justify-content: center; */
    }
}

.card{
    position: relative;
    background: url(https://res.cloudinary.com/dj5mpbo6m/image/upload/f_auto,q_auto/v1/starbucks/jz7ltutjk5jgzmqjjorv);
    border-radius: 1rem;
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    box-shadow: 0 0 1.5rem rgb(98,71,40);
}

@media(min-width:581px){
    .card{
        width: unset;
    }
}

.card::before{
    border-radius: 1rem;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0,32,33,.70); */
    /* background-color: rgba(76,22,23,.85); */
    background-color: rgba(226, 226, 226, 0.90);
}

.card:nth-child(2){
    grid-row: 1/2;
}

.card:nth-child(2)::before{
    border-radius: 1rem;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0,32,33,.70); */
    background-color: rgba(76,22,23,.85);
    /* background-color: rgba(226, 226, 226, 0.90); */
}


@media(min-width:768px){
    .card{
        width: 12.5rem;
        height: 17.5rem;
    }

    .card:nth-child(2){
        /* transform: translateY(-3rem); */
        top:-3rem;
    }

}

@media(min-width:827px){
    .card{
        height: 15.5rem;
    }
}

.card__container_image{
    /* height: 12rem; */
    display: flex;
    justify-content: center;
    position: relative;
    top: -5rem;
    /* background-color: red; */
    overflow: visible;
}

.matcha::before{
    content: '';
    position: absolute;
    top: -2rem;
    left: -20%;
    height: 140%;
    width: 140%;
    background: url(https://res.cloudinary.com/dj5mpbo6m/image/upload/w_260,f_auto,q_auto/v1/starbucks/bwy5obu36f2lsd8gm5oy);
    background-repeat: no-repeat;
    background-size: 17rem, 80%, 80%;
    background-position: center, center;
    
}

.velvet::before{
    content: '';
    position: absolute;
    top: -2rem;
    left: -20%;
    height: 140%;
    width: 140%;
    background: url(https://res.cloudinary.com/dj5mpbo6m/image/upload/w_220,f_auto,q_auto/v1/starbucks/hukjcuveolmrtzhjmtr3);
    background-repeat: no-repeat;
    background-size: 17rem, 80%, 80%;
    background-position: center, center;
    /* background-color: red; */
}

.cream-frappucciono::before{
    content: '';
    position: absolute;
    top: -3.2rem;
    left: -20%;
    height: 140%;
    width: 140%;
    background: url(https://res.cloudinary.com/dj5mpbo6m/image/upload/w_220,f_auto,q_auto/v1/starbucks/yxv66rqljkerbkybya10);
    background-repeat: no-repeat;
    background-size: 15.5rem, 80%, 80%;
    background-position: center, center;
    /* background-color: red; */
}

.card__image{
    width: auto;
    height: 12rem;
    object-fit: cover;
    /* transform: translateY(-5rem);  */
    /* position: absolute; */
    filter: drop-shadow(0rem 0rem .5rem #000);
}

.card__body{
    position: relative;
    top: -3.5rem;
}

.card__title{
    font-size: 1.4rem;
    font-weight: 900;
    color: #313131;
    margin: 0;
    text-align: center;
}

.card:nth-child(2) .card__title{
    color: #fff;
}

.card__title--color-wh{
    color: #fff;
}

.card__description--color-wh{
    color: #fff;
}

.card__description{
    text-align: center;
    font-size: 1rem;
    margin-top: .5rem;
    font-weight: 500;
    color: #313131;
}

.card:nth-child(2) .card__description{
    color: #fff;
}

.card__description--color-wh{
    color: #fff;
}
/* END SECTION */

/* START CARAMEL */

.caramel{
    position: relative;
    /* background-color: red; */
    overflow: hidden;
}

.caramel::before, .caramel::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.caramel::before{
    background: url(https://res.cloudinary.com/dj5mpbo6m/image/upload/f_auto,q_auto/v1/starbucks/cqqag572fowkkr3wtzhm)no-repeat;
    background-size: cover;
    z-index: 1;
}

.caramel::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(transparent,rgb(22, 17, 13)) ;
    z-index: 2;
}

.container__background-image{
    position: absolute;
    height: 15rem;
    bottom: -1rem;
    z-index: 1;
}

@media(min-width:768px){
    .container__background-image{
    height: 20rem;
    }
}

.container__background-image:nth-child(1){
    top: 0;
    right: 0;
    opacity: .7;
    filter: blur(.06rem);

}

.caramel__background-image{
    height: inherit;
    width: auto;
    object-fit: cover;
}

@media(min-width:768px){
    .container__background-image{
        
    }
}

.caramel__container{
    padding: 5rem 0 4.5rem 0 ;
    position: relative;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    z-index: 3;
}

@media(min-width:768px){
    .caramel__container{
        /* display: grid; */
        /* grid-template-columns: repeat(2,1fr); */
        align-items: center;
    }
}

.caramel__container-image{
    /* background-color: purple; */
    height: 25rem;
    display: flex;
    justify-content: center;
    position: relative;
    transform: rotate(10deg);
}

@media(min-width:768px){
    .caramel__container-image{
        height: 32rem;


        top: -2.5rem;
    }
}

.caramel__image{
    height: inherit;
    width: auto;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}

.caramel__info{
    /* transform: translateY(-3rem); */
    margin-top: 1.5rem;
}

@media(min-width:768px){
    .caramel__info{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        background:radial-gradient(rgba(56,26,14,.8), transparent);
        padding: 1rem;
        border-radius: 1rem;
    }
}

.caramel__title, .caramel__text{
    text-align: center;
    margin: 0;
    /* color: rgb(255, 158, 79); */
    color: #f7f7f7;
}

.caramel__title{
    /* font-family: 'Angeloy Bartesu', Arial, Helvetica, sans-serif; */
    font-size: 4.5rem;
    line-height: .9;
}

@media(min-width:768px){
    .caramel__title{
        font-size: 6rem;
    }
}

.caramel__text{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;    
}
/* END CARAMEL */

/* START REWARDS */

.rewards{
    position: relative;
    background:radial-gradient(rgba(1,48,41,1),#002220);
    padding: 5rem 0;
    /* background-color: ; */
    overflow: hidden;
}

.rewards__mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: purple; */
}

@media(min-width:768px){
    .rewards__mask{
        width: 50%;
    }
}

.rewards__mask::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: radial-gradient(rgba(0,32,33,.75)) ; */
    background:rgba(0,32,33,.85) ;
}

.rewards__mask-img:nth-child(1){
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rewards__container{
    margin: 0 auto;
    max-width: 120rem;
    width: 90%;
    position: relative;
}

@media(min-width:768px){
    .rewards__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}

.rewards__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

@media(min-width:768px){
    .rewards__logo{
        margin: 0;
    }
}

.rewards__logo-container{
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

@media(min-width:768px){
    .rewards__logo-container{
        height: 7.5rem;
        width: 7.5rem;
    }
}

.rewards__name-store, .rewards__logo-text{
    color: #fff;
    font-weight: 900;
    margin: 0;
    font-size: 1.7rem;
    text-align: center;
}

@media(min-width:768px){
    .rewards__name-store, .rewards__logo-text{
        font-size: 1.9rem;
    }
}

.rewards__logo-text{

}

.content-box__title,.content-box__text{
    color: #fff;
    margin: 0;
}

.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
}

@media(min-width:768px){
    .content-box{ 
    }
}

.content-box__title{
        font-size: 2.8rem;
    text-align: center;
    line-height: 1.1;
}

@media(min-width:768px){
    .content-box__title{
        font-size: 3.5rem;
        line-height: 1;
    }
}

.content-box__text{
    font-size: 1.4rem;
    text-align: center;
    /* margin-top: 1.5rem; */
    font-weight: 500;
    line-height: 1.2;
}

/* END REWARDS */

/* START BANNER */

.banner{
    position: relative;
    /* overflow: hidden; */
    /* margin-top: 1rem; */
}

.banner__mask-container{
    position: absolute;
    /* background-color: red; */
    height: 100%;
    width: 100%;
    z-index: 2;
}

.banner__mask{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.banner__mask::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,32,33,.85);
    /* z-index: 3; */
}

.banner__background-image{
    height: inherit;
    width: 100%;
    object-fit: cover;
}

.termo_1,.termo_2,.ambiente{
    position: absolute;
    bottom: 0;
    width: auto;
    object-fit: cover;
    /* opacity: .4; */
}

.termo_1{
    left: 0;
    height: 11rem;
    z-index: 2;
}

.termo_2{
    right: 0;
    height: 9.5rem;
    z-index: 2;
}

.ambiente{
    min-height: 100%;
    /* height: 1rem; */
    width: 100%;
    object-fit: cover;
    opacity: .5;    
    z-index: 1;
}

@media(min-width:768px){
    .termo_1,.termo_2{
        opacity: 1;
        /* z-index: 1; */
    }
    
    .termo_1{
        height: 20rem;
        /* left: -1.5rem; */
    }
    
    .termo_2{
        height: 17rem;
        bottom: 0rem;
    }
    
    .ambiente{
        width: 100%;
        /* opacity: .5; */
    }
}

@media(min-width:992px){
    
    .termo_1{
        height: 28rem;
        /* left: -1.5rem; */
    }
    
    .termo_2{
        height: 24rem;
        bottom: 0rem;
    }
    
}

.banner__container{
    position: relative;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    max-width: 30rem;
    width: 90%;
    margin: auto;
    z-index: 3;

}

.banner__info{
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.banner__title, .banner__text{
    color: #fff;
    margin: 0;
    text-align: center;
}

.banner__title{
    font-size: 2.8rem;
}

.banner__text{
    font-size: 1.4rem;
    font-weight: 500;
}

/* END BANNER */

/* START BLOCK */
.block{
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
    width: 100%;
}

.block__container-mask{
    position: relative;
    left: 0;
    top: 0;
    display: grid;
    gap: 1rem;
    /* height: 20rem; */

}

@media(min-width:768px){
    .block__container-mask{
        height: 20rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

.block__container{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

@media(min-width:768px){
    .block__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        width: 100%;
    }
}

.info-section{
    height: 20rem;
    position: relative;
    overflow: hidden;
}

.info-section__container-image{
    height: 20rem;
    position: relative;
    overflow: hidden;
}

.info-section__container-image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(1, 31, 22, 0.75);
    z-index: 2;
}

.info-section__link{
    display: inline-block;
    height: inherit;
    width: 100%;
    transition: .3s;
}

.info-section__image{
    height: inherit;
    width: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 1;
}

.info-section__link:hover {
    transform: scale(1.05);
}

.info-section__description{
    position: absolute;
    height: 20rem;
    width: 100%;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background-color: red; */
    z-index: 2;
}


.info-section__text{
    color:#fff;
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0;
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    padding: 0 2rem;
}


/* END BLOCK */


/* START FOOTER */
.footer{
    /* margin-top: 5rem; */
    /* background: url(https://res.cloudinary.com/dj5mpbo6m/image/upload/f_auto,q_auto/v1/starbucks/dktzdyyzzwwmjyi3ipxe) no-repeat;
    background-size: cover; */
    position: relative;
}

.footer::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(247, 247, 247, 0.5);
    z-index: 1;
}

.footer__containerBackgroundImage{
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.footer__backgroundImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding-top: 5rem;
}

.footer-content{
    display: grid;
    align-items: center;
    place-items: center;
}

@media(min-width:768px){
    .footer-content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

.footer__brand-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1/2;
}

@media(min-width:768px){
    .footer__brand-social{
        grid-column: 2/3;
    }
}

.logo__container--footer{
    height: 6.5rem;
    padding: 0;
}

.networks{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.network{
    overflow: hidden;
    background-color: #043825;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.network:hover{
    transform: scale(1.2);
}

.network__link{
    display: flex;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
}

/* END FOOTER */

.info{
    margin-top: 2rem;
}

@media(min-width:768px){
    .info{
        margin-top: 0;
    }
}

.info__title{
    font-size: 1.5rem;
    margin: 0;
    /* background-color: red; */
    /* text-align: center; */
}

.info__items{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
    margin-top: 1.2rem ;
}

.info__items--row{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 2rem;
}

.info__items--row .info__item{
    padding: .2rem 1rem;
    border-right: .1rem solid #a0a0af;
    margin-top: 1rem;
}

.info__items--row .info__item:last-child{
    border: none;
}

.info__link{
    font-size: .9rem;
    margin: 0;
    color: #797877;
}

.copyright__container{
    margin-top: 2rem;
    padding: 1rem;
}

@media(min-width:768px){
    .copyright__container{
        margin-top: .5rem;
    }
}

.copyright{
    text-align: center;
    font-size: .8rem;
    margin: 0;
}
/* END FOOTER */